---
import type { Service } from '$lib/types/liveTimes.d';
import { fetchClasses } from '$lib/rtt';

interface Props {
	service: Service;
}

const { service } = Astro.props;

const rttLink = `https://www.realtimetrains.co.uk/service/gb-nr:${service.serviceUid}/${service.runDate}/detailed`;
const rrLink = `https://live.rail-record.co.uk/train.php/?c=${service.serviceUid}&d=${service.runDate}`;

const classes = await fetchClasses(service.serviceUid, service.runDate);
---

<tr>
	<td>{service.locationDetail.origin[0]?.publicTime}</td>
	<td>{service.locationDetail.origin.map((o) => o.description)}</td>
	<td>{service.locationDetail.destination.map((o) => o.description)}</td>
	<td>{service.atocCode}</td>
	<td>{service.serviceUid}</td>
	<td>{classes ? classes.join(', ') : 'failed'}</td>
	<td><a target="_blank" href={rttLink}> RTT </a></td>
	<td><a target="_blank" href={rrLink}> RR </a></td>
</tr>
